.wrapper,
.popup {
  color: black;
  font-family: 'Jaldi', sans-serif;
}

.logo-caption {
  font-weight: lighter;
}

.logo-caption {
  color: white;
}

.caption {
  font-weight: lighter;
}

.text {
  font-size: 18px;
}

.btn {
  font-size: 20px;
}

.popup-caption {
  font-weight: lighter;
}

.popup-text {
  font-size: 20px;
}

.popup-text-red {
  color: red;
}

.popup-btn {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}
