@media screen and (max-width: 320px) {

    .black-bg {
      background: #232323;
      max-width: 1920px;
      width: 100%;
      height: 120px;
    }

    .wrapper {
      margin: -120px auto;
    }

    .popup {
      top: -120px;
    }
    .logo-caption {
      margin-left: 60px;
    }
  }
