a {
  text-decoration: none;
  color: #0070FF;
  cursor: pointer;
}

 body {
   max-width: 1920px;
   width: 100%;
   background: white;
   margin: 0;
   position: relative;
 }

 .black-bg {
   background: #232323;
   max-width: 1920px;
   width: 100%;
   height: 60px;
 }

 .wrapper {
   max-width: 580px;
   width: 90%;
   height: 100%;
   padding: 10px 0;
   margin: -60px auto;
 }

 /*wrapper*/

       .header {
         display: inline;
         margin: 0 auto;
       }

       .logo-img {
         float: left;
         width: 40px;
         padding-right: 20px;
       }

       .logo-caption {
         margin: 0;
       }

       .caption {
         margin-top: 70px;
       }

       .btn-link:hover {
         color: #2DC4F9;
       }

       .btn-accept {
         padding: 10px 0 0 20%;
         float: left;
       }

       .btn-cancel {
         padding: 10px 20% 0 0;
         float: right;
       }

 /*window*/

      .overlay-popup {
        position: fixed;
        z-index: 999;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }

       .popup {
         position: relative;
         z-index: 1000;
         top: -160px;
       }

       .popup__container {
         padding: 5px 0;
         width: 80%;
         max-width: 450px;
         background: white;
         border-radius: 40px;
         margin: 5% auto;
         z-index: 2000;
       }

       .popup-caption {
         padding: 0 20px;
         z-index: 2000;
       }

       .popup-text {
         padding: 0 20px;
         z-index: 2000;
       }

       .popup-link:hover {
         color: #2DC4F9;
         z-index: 2000;
       }
